div#header{
	background: url('../images/header.jpg');
	min-height: 80px;
}

div#content{
	min-height: 460px;
	padding: 10px
}

div#content div#left{
	min-height: 460px;
}

div#content div#right{
	min-height: 460px;  
	/*border: 1px solid blue; */
	/*border-radius: 10px*/
}

div#footer{
	background: url('../images/footer.jpg');
	height:73px; 
	text-align: center;
	padding-top: 10px;
}

div label#logo{
	font-size:30px;
	margin-top: 15px;
}

div#username{
	margin-top: 30px
}

a:hover {
	text-decoration: none;
}